#debugging files
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.idea/*

#data preparation, release on request
prepare_data/*
prepare_data/amass.py

#local scripts
*.sh


#local debug and eval
eval.py
models/eval_shape.py
